$body-bg: #353535; // Цвет заднего фона сайта
$text-clr: #e0e0e0; // Основной цвет текста
$dop-back-clr: rgba(223, 40, 40, 0.15); // Дополнительный цвет c 15% прозрачности
$dop-clr: #df2828; // Дополнительный цвет
