.stock {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    pointer-events: none;
  }

  &__name {
    background: #797979;
    max-width: 120px;
    height: 18px;
    border-radius: 0 0 10px 10px;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 15px;
    box-shadow: 0 0 6px 0 #00000070;

    z-index: 1;

    p {
      text-overflow: ellipsis;
      white-space: wrap;
      overflow: hidden;
      max-width: 148px;
    }
  }

  &__price {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    border-top-right-radius: 10px;
    background: #797979;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px 0 #00000096;
    font-size: 11px;
  }
}
